* {

  margin: 0;

  padding: 0;

}

*,

*::before,

*::after {

  box-sizing: inherit;

}

html {

  box-sizing: border-box;

  font-size: 62.5%;

    scroll-behavior: smooth;

}

@media (max-width:60em) {

  html {

    font-size: 60%

  }

}

@media (max-width: 30em) {

  html {

    font-size: 55%;

  }

}
