h1 {
  font-size: 100px;
  background-image: url("./Resources/pattern.jpeg");
}

section {
  font-weight: bold;
}
p {
  font-weight: lighter;
}
#brushes {
  background-color: green;
}
#frames{
  background-color: hotpink;
}
#paint {
  background-color: skyblue;
}
